.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.clock {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 50px;
  position: relative;
  padding: 2rem;
  @media screen and (max-width: 600px) {
    width: 10rem;
    height: 10rem;
    }

}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-face {
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
  transform: rotate(90deg);
}

.hand {
  width: 50%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  // transition: all 0.05s;
  // transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  width: 30%;
  left: 20%;
}

.minute-hand {
  width: 45%;
  left: 5%;
}

.second-hand {
  height: 3px;
  left: 0;
}

.display {
  padding: 15px;
  animation: fadeIn 1s ease-in-out;
  border-radius: 10px;
  letter-spacing: .2rem;
}
