.neon-red {
  .clock, .display, .themes {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px $neon-red,
    0 0 82px $neon-red,
    0 0 92px $neon-red,
    0 0 102px $neon-red,
    0 0 151px $neon-red;
  }
  .clock {
    border: 5px solid $neon-red;
  }
  .clock-face {
    box-shadow: 1px 1px 50px #f4433666;
  }
  .hand {
    background: $neon-red;
    box-shadow: 0 0 2px #FFF, 0 0 6px $neon-red, 0 0 18px $neon-red;
  }
  .display, .loading {
    text-shadow: 0 0 2px #FFF, 0 0 4px #FFF, 0 0 6px $neon-red, 0 0 8px $neon-red;
    color: $neon-red;
  }
  
  .themes {
    border: 1px solid $neon-red;
    & ul {
      color: $neon-red;
    }
  }
}