.neon-purple {
  .clock, .display, .themes {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px $neon-purple,
    0 0 82px $neon-purple,
    0 0 92px $neon-purple,
    0 0 102px $neon-purple,
    0 0 151px $neon-purple;
  }
  .clock {
    border: 5px solid $neon-purple;
  }
  .clock-face {
    box-shadow: 1px 1px 50px #8c63d266;
  }
  .hand {
    background: $neon-purple;
    box-shadow: 0 0 2px #FFF, 0 0 6px $neon-purple, 0 0 18px $neon-purple;
  }
  .display {
    text-shadow: 0 0 2px #FFF, 0 0 4px #FFF, 0 0 6px $neon-purple, 0 0 8px $neon-purple;
    color: $neon-purple;
  }
  
  .themes {
    border: 1px solid $neon-purple;
    & ul {
      color: $neon-purple;
    }
  }
}