.neon-grey {
  .clock, .display, .themes {
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px $neon-grey,
    0 0 82px $neon-grey,
    0 0 92px $neon-grey,
    0 0 102px $neon-grey,
    0 0 151px $neon-grey;
  }
  .clock {
    border: 5px solid $neon-grey;
  }
  .clock-face {
    box-shadow: 1px 1px 50px #9e9e9e66;
  }
  .hand {
    background: $neon-grey;
    box-shadow: 0 0 2px #FFF, 0 0 6px $neon-grey, 0 0 18px $neon-grey;
  }
  h1, .display, .loading {
    text-shadow: 0 0 2px #FFF, 0 0 4px #FFF, 0 0 6px $neon-grey, 0 0 8px $neon-grey;
    color: $neon-grey;
  }
  
  .themes {
    border: 1px solid $neon-grey;
    & ul {
      color: $neon-grey;
    }
  }

  .neonText {
    animation: flicker 1.5s infinite alternate;
    color: $neon-grey;
  }

  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px neon-grey,
        0 0 80px neon-grey,
        0 0 90px neon-grey,
        0 0 100px neon-grey,
        0 0 150px neon-grey;
    }
    20%, 24%, 55% {text-shadow: none;}    
  }
}