body {
  background: rgba(0, 0, 0, 0.89);
  text-align: center;
  margin: 0;
  padding: 2rem 2rem 0 2rem;
}

li {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10rem;
    @media screen and (max-width: 940px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}