@import url('https://fonts.googleapis.com/css2?family=Carme&family=Neonderthaw&display=swap');

body {
  font-family: 'Neonderthaw', cursive;
  font-size: 10px;
}

.loading, .themes {
  font-family: 'Carme', sans-serif;
  font-size: 1.5rem;
}

.display {
  font-size: 2.5rem;
}

