@import url('https://fonts.googleapis.com/css2?family=Carme&family=Special+Elite&display=swap');

body {
  font-family: 'Special Elite', cursive;
  font-size: 10px;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.loading, .themes {
  font-family: 'Carme', sans-serif;
  font-size: 1.5rem;
}

.display {
  font-size: 2.5rem;
}

